<div class="row">
  <div class="column">
    <img src="{{LB0_ImagePath}}" (click)="onClick($event);currentSlide(1)" class="hover-shadow">
  </div>
</div>

<div id="myModal0" class="modal">
  <span class="close cursor" (click)="closeModal()">&times;</span>
  <div class="modal-content">

     <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="mySlides0" id="Img0">
      <div class="numbertext">        
      </div>
        <img src="{{LB0_ImagePath}}" style="width:100%">
    </div>
      

   

    <div class="column">
      <img class="demo" src="{{LB0_ImagePath}}" (click)="currentSlide(1)" alt="The hulk">
    </div>
    
  </div>
</div>