<div class="row">
  <div class="column" *ngFor="let img of images; let i = index">
    <img src="{{img.src}}" alt="{{img.name}}" (click)="toggleLightbox(true, i)" class="hover-shadow">
  </div>
</div>

<div class="modal" *ngIf="lightboxActive">
  <span class="close cursor" (click)="toggleLightbox(false)">&times;</span>
  <div class="modal-content">

    <div class="mySlides" *ngFor="let img of images; let i = index" [ngClass]="{'visible': i === slideIndex}">
      <div class="numbertext">{{i + 1}} of {{images.length}}</div>
      <img src="{{img.src}}" alt="{{img.name}}" style="width: 100%" />
    </div>

    <a class="prev" (click)="moveSlides(-1)">&#10094;</a>
    <a class="next" (click)="moveSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="column" *ngFor="let img of images; let i = index">
      <img class="demo" src="{{img.src}}" (click)="setActiveImage(i)" alt="{{img.name}}">
    </div>
  </div>
</div>
